.label_controls {
    margin-left: 15px;
    width: 160px;
}

.input_controls {
    margin-left: 15px;
    width: 400px;
}

.reset-controls-container {
    height: 500px;
}

.control-row {
    margin-bottom: 10px !important;
}

.button_controls{
    margin-top:10px;
}