/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin:0;
}

.row{
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
   
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.navbar{
    margin-bottom: 0px !important;
}

.table .thead-dark th {
    color: #fff;
    background-color: #E95420;
    border-color: #E95420;
    text-align: center;
}

.bg-dark {
    background: linear-gradient(90deg,#25c07d,#96d437) !important;
}

.table-style th, .table-style td{
    font-weight: normal;
    font-size: 16px;
    vertical-align:middle;
}

input.form-control.ng-invalid.ng-touched {
    border: 2px solid #DD0031;
}

textarea.form-control.ng-invalid.ng-touched {
    border: 2px solid #DD0031;
}

input:focus{
    outline: none;
}
